<h1>Hello, Geek Hunters!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
    <li><a target="_blank" href='https://portal.azure.com/'>Microsoft Azure Portal</a> for managing GeekHunters Cosmos DB</li>
    <li><a target="_blank" href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a target="_blank" href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a target="_blank" href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a target="_blank" href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a target="_blank" href='/swagger'>Swagger</a> - provides API Tooling by Swashbuckle.AspNetCore.Swagger</li>
</ul>
<p>To help you get started:</p>
<ul>
    <li><strong>Azure Geek Hunters:</strong> <a target="_blank" href="http://geekhunters.azurewebsites.net/">Geek Hunters on Cloud</a></li>
    <li><strong>GitHub Repository:</strong> <a target="_blank" href='https://github.com/Debitsuccess/GeekHunters/'>Geek Hunters</a></li>
    <li><strong>Technology, Framework and NuGet Packages: </strong>
        <ul>
            <li>
                .NET Core 2.0 in GeekHunters project (created in vs2017 as a Single Page Application template).
            </li>
            <li>
                .NET Standard 2.0 in GeekHunters.Repository project.
            </li>
            <li>
                Microsoft.Azure.DocumentDB.Core to allow access to GeekHunters in Azure Cosmos DB.
            </li>
        </ul>
    </li>
</ul>
